# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tmp/
log/logfile
log/rpclogfile
/Debug/
/Release/
/Build/
/.deps/
/bin/
Makefile
Makefile.in
configure
/autom4te.cache/
config.log
config.status
libtool
aclocal.m4
*.sdf
bin-Win32-Debug/
