body {
	text-align:center;
	max-width: 400px;
	margin-left:auto;
	margin-right:auto;
	font-family: sans-serif;	
	
}

div.header img.logo {
	padding: 10px;
	height: 64px;
	float:left;
}

div.header {
	background-color: #629262;			
	margin-bottom: 0;
	text-align: left;
	height: 84px;
	background-image: url("img/qrlogo-sw.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

div.content {
	position:relative;		
}

div.serviceInfo {
	text-align: right;
	display:table;
	margin-left: auto;
	margin-right: 0;
}


#serviceId {
	font-size:larger;
	font-weight: bold;
	display:table-cell;	
	color: #FFA;
	text-shadow: 3px 3px 5px black;
	padding: 5px;
	height: 74px;
	vertical-align: middle;
		background-color: #629262;			
	
}

#serviceLogo img {
	width: 74px;
	height: 74px;
	padding: 5px;
	vertical-align: middle;
}

#serviceLogo {
	display:table-cell;
}

ul.selector {
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

ul.selector li {
	display: table-cell;
	margin: 0;
	padding: 10px;
	border: 1px solid white;
	cursor:pointer;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	
}

ul.selector li.hl 
{
	
background: #8a8f91; /* Old browsers */
background: -moz-linear-gradient(top,  #8a8f91 0%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8f91), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8a8f91 0%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8a8f91 0%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8a8f91 0%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8a8f91 0%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8f91', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

	
}


.scanarea {
	max-width: 400px;	
	margin:0 auto 0 auto;
}
.selectorblock {
	background: #a0d0a0; /* Old browsers */
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #e6e6e6 53%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#e6e6e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#e6e6e6 53%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#e6e6e6 53%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#e6e6e6 53%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ededed 0%,#e6e6e6 53%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
padding: 10px;	
}
.selectorblock > div {
	max-height: 380px;
	position:relative;
}

.selectorblock IFRAME {
	border: 0;
}

#langpanel 
{
	text-align:right;
}


#restoreform, #downloadask  {
	padding: 100px 20px 0px 20px;
	background-color: white;
	border: 1px solid;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 1000;
}

#restoreform input.error 
{
	border: solid 2px red;
}

#restoreform input 
{
	margin-top: 20px;
}

	

#downloadask  button 
{
	display:block;
	width: 200px;
	height: 50px;
	margin: 10px auto 10px auto;
}

#qrblock {
	padding:25px;
}
	