body {
	background-color: white;
	margin: 0;
	font-family: sans-serif;
}

a {
	text-decoration:none;	
}



h1 {
	background-color: #629262;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0;
	top: 0;
	text-align: left;		
	position:fixed;
	width: 100%;
	height: 70px;
}

h1 img {
	vertical-align: middle;
	margin-right: 20px;
}

ul.menu {
	display: table;
	background-color: #ADA;
	width: 100%;
	margin: 0;
	position:fixed;
	top: 80px;
	
}

ul.menu li {
	display: table-cell;
	text-align: center;
	height: 40px;
	vertical-align:middle;
	
}

div.content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.page {
	padding-top: 110px;
	min-height: 100vh;
}

div.page h2 {
	text-align: center;
}

.testwindow {
	text-align: center;
	padding: 20px;
	font-size: larger;
	position:relative;
}

.testwindow input {
	width: 100%;
	text-align: center;
	font-size: larger;
}

.testwindow button {
	font-size: larger;
}

.waitanim {
	display:inline-block;
	width: 100px;
	height: 15px;
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #CCC;	
	overflow: hidden;
	visibility: hidden;
		
}

ol > li {
	
	margin-top: 1.5em;
}

li {
		text-indent: -20px;
		padding-left: 20px;
	
}

pre {
	font-size: larger;
	text-indent: 0;
	padding-left: 0;
}

/* Standard syntax */
@keyframes waitanimkeys {
    0%   {margin-left:-10px;width: 0px;margin-right: 110px}
    50%  {margin-left:-10px;width: 110px;margin-right: -10px}
    100% {margin-left:110px;width: 0px;margin-right: -10px}
}

@-webkit-keyframes waitanimkeys {
    0%   {margin-left:-10px;width: 0px;margin-right: 110px}
    50%  {margin-left:-10px;width: 110px;margin-right: -10px}
    100% {margin-left:110px;width: 0px;margin-right: -10px}
}

.waitanim > div {
	animation-name: waitanimkeys;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;    
	-webkit-animation-name: waitanimkeys;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;    
    width: 20px;
    height: 15px;
    background-color: #888;
    border-radius: 10px;
    margin-right: auto;
}

#addsitedetail {
	display:none;
}

dd {
	margin-top: 1em;
	margin-bottom: 1em;
}

.author {
	display: table;
}

.author div {
	display:table-cell;
	vertical-align: middle;
	padding: 5px;
}

.sources {
	text-align: center;
}

.github {
	width: 300px;
}

img {
	border: 0;
}

#qrwin iframe {
	border: 0;
	opacity:1;
	display:block;
	margin-left: auto;
	margin-right:auto;
}

#qrwin .lightboxwnd {
	width: 500px;
	height: 650px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -300px;
	text-align:center;
	background-color:white;
	border: 1px solid;
	box-shadow:rgba(0,0,0,0.2) 5px 5px;
	padding: 10px;

}

#qrwin {
	display: none;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
}

#qrwin .lightboxbg {
opacity: 0.4;
width: 100vw;
height: 100vh;
	background-color: #000;
	position:absolute;
}
	
.testsignwindow {
	text-align: center;
}
.testsignwindow textarea {
	display:block;
	width: 100%;
}
.testsignwindow input {
	display:block;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#visualdigest {
	font-size: 1.5em;
	font-weight: bold;
	background-color: #FFE;
	border: 1px solid black;
	border-radius: 5px;
	width: 15em;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: rgba(0,0,0,0.2) 5px 5px;	
}
