body {
	background-color: white;
	margin: 0;
	font-family: sans-serif;
	font-size: 17px;
}

input, textarea {
	border: none;
	border-bottom: 2px solid;
	background-color:#EEE;
	font-size: 17px;
}

input:focus, textarea:focus {
	border: none;
	border-bottom: 2px solid blue;
	background-color:white;
	font-size: 17px;
}


a {
	text-decoration:none;	
}



h1 {
	background-color: #629262;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0;
	top: 0;
	text-align: left;		
	position:fixed;
	width: 100%;
	height: 70px;
}

h1 img {
	vertical-align: middle;
	margin-right: 20px;
}

ul.menu {
	display: table;
	background-color: #ADA;
	width: 100%;
	margin: 0;
	position:fixed;
	top: 80px;
	
}

ul.menu li {
	display: table-cell;
	text-align: center;
	height: 40px;
	vertical-align:middle;
	
}

div.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

div.page {
	padding-top: 110px;
	min-height: 100vh;
}

div.page h2 {
	text-align: center;
}

.testarea {
	text-align: center;
}
.testwindow {
	text-align:center;
}

.testwindow .test {
	text-align: center;
	padding: 20px;
	font-size: larger;
	position:relative;
}

.testwindow input {
	width: 100%;
	text-align: center;
	font-size: larger;
}

.testwindow button {
	font-size: larger;
}

.waitanim {
	display:inline-block;
	width: 100px;
	height: 15px;
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #CCC;	
	overflow: hidden;
	visibility: hidden;
		
}

ol > li {
	
	margin-top: 1.5em;
}

li {
		text-indent: -20px;
		padding-left: 20px;
	
}

pre {
	font-size: larger;
	text-indent: 0;
	padding-left: 0;
}

#addsitedetail {
	display:none;
}

dd {
	margin-top: 1em;
	margin-bottom: 1em;
}

.author {
	display: table;
}

.author div {
	display:table-cell;
	vertical-align: middle;
	padding: 5px;
}

.sources {
	text-align: center;
}

.github {
	width: 300px;
}

img {
	border: 0;
}

#qrwin iframe {
	border: 0;
	opacity:1;
	display:block;
	margin-left: auto;
	margin-right:auto;
}

#qrwin .lightboxwnd {
	width: 500px;
	height: 650px;
	position: absolute;
	left: 5%;
	top: 50%;	
	margin-top: -300px;
	text-align:center;
	background-color:white;
	border: 1px solid;
	box-shadow:rgba(0,0,0,0.2) 5px 5px;
	padding: 10px;

}

#qrwin {
	display: none;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
}

.lightboxbg {
opacity: 0.4;
width: 100vw;
height: 100vh;
	background-color: #000;
	position:absolute;
}
	
.testsignwindow textarea {
	display:block;
	width: 100%;
}
.testsignwindow input {
	display:block;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

.testsignwindow {
	width: 700px;
	position: absolute;
	right: 10%;
	top: 50%;
	margin-top: -300px;
	text-align: center;
	background-color: white;
	border: 1px solid;
	box-shadow: rgba(0,0,0,0.2) 5px 5px;
	padding: 10px;
}	

#testsignwindow {
	display: none;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
}

#msgdigest {
	font-size: smaller;
	margin: 0px 40px;
	display:none;
}

	#msgdigest p {
		color: #930303;
	}

	#msgdigest pre {
		border: 1px solid;
		background-color: #FFD;
		font-weight: bold;
		width: 14em;
		float:right;
		margin: 0 10px 0 10px;
	}
	
#IDprev {
	font-size: smaller;
	font-style: italic;
	display:none;
}

.xbutton {
	position: absolute;
	top:0;
	right: 0;
	width: 2em;	
}