
body {
	font-family: sans-serif;	
	background-color: #FFF;
	margin:0;
	padding:0;
	font-size: 20px;
	text-align:center;
}

.header 
{
	text-align:center;
	background-color: #696;
	padding: 5px 0 5px 0;
	color: #FFA;
	
}

img.logo 
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:175px;
	height:56px;
}

div.serviceid 
{
	padding: 10px 0 10px 0;
	font-weight:bold;
	text-shadow: 3px 3px 5px black
}

label 
{
	display:block;
}

div.password 
{
	margin: 0 10px 0 10px;
	display:none;
}
input.password
{
	display:block;
	width: 100%;
	font-size: 30px;
	text-align:center;

}

button
{
	width: 10em;
	color: White;
	font-size: 25px;
	font-weight: bold;
	margin: 10px auto auto auto;
	padding: 20px 0 20px 0;
	border: 2px solid black;
	background-color: #444;
	display: block;
	
}

button#accept_button
{
	display:none;
	background-color: #8A8;
	
}

button#create_button
{
	display:none;
	background-color: #88A;
	border: 2px solid #008;
}

#spinner 
{
	text-align:center;
	margin-top:50px;
	display:none;
}

label.always_blank 
{
	display:block;
	padding: 0.5em 0 0.5em 0;
}

#delivered_sect, #failed_sect, #time_error {
	display:none;
}

#eraseask {
	display:none;
}
#done_sect {
	display:none;
}
#panel {
	display:none;
}
#noprofile, #alreadyprofile,#transfer{
	display: none;
}

#passphrase_panel label
{
	font-size: 15px;
	text-align: justify;
}

#eraseask 
{
	margin: 5px;
}

#backup_button,#enablepwd_button, #transfer_button, #transfer_key_button
{
	background-color: #669;
}

#erase_button, #erase_yes
{
	background-color: #A00;
}

#backup_key_button 
{
	background-color: #695;
	
}

#progressbar {
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;	
	width: 70%;
	margin-top: 50px;
	display:none;
}

#progressbar div {
	height: 10px;
	width: 0%;
	margin-left: 0;
	margin-right: auto;
	background-color: green;
}
#qrbox 
{
	width: 250px;
	margin: 0px auto 0px auto;
	height: 300px;
}

#checkdomain 
{
	display:none;
}
#checkdomain > div 
{	
	width: 128px;
	height: 10;
	margin-left: auto;
	margin-right: auto;
	background-image:url(img/wred.png);
	position: relative;

    -webkit-animation-name: warnanim;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: warnanim;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: warnanim;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
    
 @-moz-keyframes warnanim {  
    0% { top: 10px; }
    50% { top: 0; }
    100% {top: 10px; }
}

@-webkit-keyframes warnanim {  
    0% { top: 10px; }
    50% { top: 0; }
    100% { top: 10px; }
}

@keyframes warnanim {  
    0% { top: 10px; }
    50% { top: 0; }
    100% { top: 10px;}
}

#checkdomain > p 
{
	color: #F00;
	font-style:italic;
}

#sign_message {
	display:none;
}

#sign_message h1 {
	font-size: 1em;
	text-align: left;
	margin: 0 0;
	padding: 0.5em 1em;
	border-bottom: 1px solid black;
}

#sign_message p {
	margin: 0;
	padding: 0.5em 1em;
	text-align:left;
	border-bottom: 1px solid black;
	line-height: 1.5em;
}

#sign_hash {
	display:none;
}

#sign_hash h1 {
	font-size: 1em;
	text-align: left;
	margin: 0 0;
	padding: 0.5em 1em;
	border-bottom: 1px solid black;
}

#sign_hash p {
	margin: 0;
	padding: 0.5em 1em;
	border-bottom: 1px solid black;
	font-family:monospace;
	font-weight:bold;	
	line-height: 1.5em;
}
#no_key_exist {
	display:none;

