
body {
	font-family: sans-serif;	
	background-color: #FFF;
	margin:0;
	padding:0;
	font-size: 20px;
	text-align:center;
}

.header 
{
	text-align:center;
	background-color: #696;
	padding: 5px 0 5px 0;
	color: #FFA;
	
}

img.logo 
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:175px;
	height:56px;
}

div.serviceid 
{
	padding: 10px 0 10px 0;
	font-weight:bold;
}

label 
{
	display:block;
}

div.password 
{
	margin: 0 10px 0 10px;
	display:none;
}
input.password
{
	display:block;
	width: 100%;
	font-size: 30px;
	text-align:center;

}

button
{
	width: 10em;
	color: White;
	font-size: 25px;
	font-weight: bold;
	margin: 10px auto auto auto;
	padding: 20px 0 20px 0;
	border: 2px solid #080;
	background-color: #444;
	display: block;
	
}

button#accept_button
{
	display:none;
	background-color: #8A8;
	
}

button#create_button
{
	display:none;
	background-color: #88A;
	border: 2px solid #008;
}

#spinner 
{
	text-align:center;
	margin-top:50px;
	display:none;
}

label.always_blank 
{
	display:block;
	padding: 0.5em 0 0.5em 0;
}

#delivered_sect, #failed_sect {
	display:none;
}

#eraseask {
	display:none;
}
#done_sect {
	display:none;
}
#panel {
	display:none;
}
#noprofile, #alreadyprofile,#transfer{
	display: none;
}

#passphrase_panel label
{
	font-size: 15px;
	text-align: justify;
}

#eraseask 
{
	margin: 5px;
}

#backup_button,#enablepwd_button
{
	background-color: #669;
}

#erase_button, #erase_yes
{
	background-color: #A00;
}

#backup_key_button 
{
	background-color: #695;
	
}

#progressbar {
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;	
	width: 70%;
	margin-top: 50px;
	display:none;
}

#progressbar div {
	height: 10px;
	width: 0%;
	margin-left: 0;
	margin-right: auto;
	background-color: green;
}
#qrbox 
{
	padding: 20px;
}