body 
{
	font-size: 30px;
	font-family:Sans-Serif;
}
#qrbox 
{
	width: 400px;
	height: 400px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px auto 10px auto;	
	
}

div 
{
	text-align: center;
	margin: 20px;
}